@model IEnumerable<WebBanQuanAo_Main_.Models.Size>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="alert alert-warning text-center fs-2 fw-bold text-uppercase" >Danh sách size</h2>

<p>
    @Html.ActionLink("Tạo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.SizeName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.SizeName)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.IDSize }) |
            @Html.ActionLink("Chi Tiết", "Details", new { id=item.IDSize }) |
            @Html.ActionLink("Xóa", "Delete", new { id=item.IDSize })
        </td>
    </tr>
}

</table>
