@model IEnumerable< WebBanQuanAo_Main_.Models.Customer>

@{
    ViewBag.Title = "QuanLiKhachHang";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2>Quản lí khách hàng</h2>
@Html.ActionLink("Thêm mới","Them",null,new {@class="btn btn-success"})
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(m=>m.IDCus)</th>
        <th>@Html.DisplayNameFor(m=>m.NameCus)</th>
        <th>@Html.DisplayNameFor(m=>m.DateOfBirth)</th>
        <th>@Html.DisplayNameFor(m=>m.PhoneCus)</th>
        <th>@Html.DisplayNameFor(m=>m.EmailCus)</th>
        <th>@Html.DisplayNameFor(m=>m.PasswordCus)</th>
        <th>Chức năng</th>
    </tr>
    @foreach(var cus in Model)
    {
        <tr>
            <td>@Html.DisplayName(cus.IDCus.ToString())</td>
            <td>@Html.DisplayName(cus.NameCus)</td>
            <td>@Html.DisplayName(cus.DateOfBirth.ToString())</td>
            <td>@Html.DisplayName(cus.PhoneCus)</td>
            <td>@Html.DisplayName(cus.EmailCus)</td>
            <td>@Html.DisplayName(cus.PasswordCus)</td>
            <td>
                @Html.ActionLink("Sửa", "Sua", new { id = cus.IDCus.ToString() }, new { @class = "btn btn-warning" })
                @Html.ActionLink("Xóa", "Xoa", new { id = cus.IDCus.ToString() }, new { @class = "btn btn-danger" })
                @Html.ActionLink("Chi Tiết", "ChiTiet", new { id = cus.IDCus.ToString() }, new { @class = "btn btn-dark" })
            </td>
        </tr>
    }
</table>
