@model WebBanQuanAo_Main_.Models.ViewModel.ProductSearchVM

@{
    ViewBag.Title = "Search Product";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";

}
<style>
    .search-container, order-container {
        padding-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .search-container {
    }
</style>
<h2 class=" mt-3 mb-3 alert text-center" style="background-color:pink; color:white">DANH SÁCH SẢN PHẨM</h2>
@using (Html.BeginForm("Index", "Product", FormMethod.Get))
{
    <div class="form-group search-container">
        @Html.TextBoxFor(m => m.SearchTerm, new
   {
       @class = "form-control",
       placeholder = "Nhập tên, mô tả hoặc chủng loại sản phẩm..."
   })
        @*tìm kiếm theo giá*@
        @Html.TextBoxFor(m => m.MinPrice, new
   {
       @class = "form-control",
       placeholder = "Nhập giá trị tối thiểu",
       type = "number"
   })
        @Html.TextBoxFor(m => m.MaxPrice, new
   {
       @class = "form-control",
       placeholder = "Nhập giá trị tối đa",
       type = "number"
   })

        <button type="submit" class="btn btn-primary"><i class="fa-solid fa-magnifying-glass"></i></button>
    </div>
    @*Tùy chọn sắp xếp*@
    <div class="form-group order-container">
        Sắp xếp theo:
        @Html.ActionLink("Tên tăng dần", "Index",
        new { sortOrder = "name_asc", searchTerm = Model.SearchTerm })
        |
        @Html.ActionLink("Tên giảm dần", "Index",
            new { sortOrder = "name_desc", searchTerm = Model.SearchTerm })
        |
        @Html.ActionLink("Giá tăng dần", "Index",
            new { sortOrder = "price_asc", searchTerm = Model.SearchTerm })
        |
        @Html.ActionLink("Giá giảm dần", "Index",
            new { sortOrder = "price_desc", searchTerm = Model.SearchTerm })
    </div>
    @Html.Partial("PVListProduct", Model)

}