@model WebBanQuanAo_Main_.Models.Product

@{

    ViewBag.Title = "Xoa";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<link href="~/Content/Admin/CDED.css" rel="stylesheet" />
<div class="admin-container">
    <div class="admin-title text-center alert alert-danger">Xác nhận xóa sản phẩm</div>
    <div class="alert alert-warning">
        Bạn có chắc muốn xóa sản phẩm này?
    </div>
    @using (Html.BeginForm("Xoa", "Product", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()
        
            <div class="admin-form">

                <div class="mb-3 mt-3">
                    Tên sản phẩm
                    @Html.DisplayFor(m => m.NamePro, new { htmlAttributes = new { @class = "form-control" } })
                    <div>@Html.ValidationMessageFor(m => m.NamePro)</div>
                </div>
                <div class="mb-3 mt-3">
                    Mô tả sản phẩm
                    @Html.DisplayFor(m => m.DescriptionPro, new { @class = "form-control", rows = "5" })
                    <div>@Html.ValidationMessageFor(m => m.DescriptionPro)</div>
                </div>
                <div class="mb-3 mt-3">
                    Đơn giá
                    @Html.DisplayFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
                    <div>@Html.ValidationMessageFor(m => m.Price)</div>
                </div>
                <div class="mb-3 mt-3">
                    Chủng loại
                    @Html.DisplayFor(m => m.IDCate)
                    <div>@Html.ValidationMessageFor(m => m.IDCate)</div>
                </div>
                <div class="mb-3 mt-3">
                    Màu
                    @Html.DisplayFor(m => m.IDColor)
                    <div>@Html.ValidationMessageFor(m => m.IDColor)</div>
                </div>
                <div class="mb-3 mt-3">
                    Size
                    @Html.DisplayFor(m => m.IDSize)
                    <div>@Html.ValidationMessageFor(m => m.IDSize)</div>
                </div>
                <div class="mb-3 mt-3">
                    Nhà cung cấp
                    @Html.DisplayFor(m => m.IDSup)
                    <div>@Html.ValidationMessageFor(m => m.IDSup)</div>
                </div>

                <div class="mb-3 mt-3">
                    Ảnh
                    <img src="@Url.Content(Model.ImagePro)" width="250" height="300" id="previewImg" />
                    <div>@Html.ValidationMessageFor(m => m.ImagePro)</div>
                </div>
                <div class="mb-3 mt-3">
                    Tồn
                    @Html.DisplayFor(m => m.RemainQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    <div>@Html.ValidationMessageFor(m => m.RemainQuantity)</div>
                </div>
                 @*<div class="mb-3 mt-3">
                    Lượt bán
                    @Html.EditorFor(m => m.SoldQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    <div>@Html.ValidationMessageFor(m => m.SoldQuantity)</div>
                </div>
                <div class="mb-3 mt-3">
                    Lượt xem
                    @Html.EditorFor(m => m.ViewQuantity, new { htmlAttributes = new { @class = "form-control" } })
                    <div>@Html.ValidationMessageFor(m => m.ViewQuantity)</div>
                </div>*@
                <div class="mb-3 mt-3">
                    @if (ViewBag.errDelete != null)
                    {
                        @ViewBag.errDelete;
                    }
                </div>
                <div>
                    <input type="submit" value="Xác nhận xóa" class="btn btn-danger" />
                    @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-success" })
                </div>
            </div>
     
    }
    </div>
    

