@model IEnumerable< WebBanQuanAo_Main_.Models.Category>

@{

    ViewBag.Title = "DanhSachDanhMuc";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .nut{
        width:60px;
        height:60px;
        
    }
    .boxbtn{
        margin-left:1px;
    }
</style>
<h2 class="table mt-3 mb-3 alert alert-secondary">DANH SÁCH DANH MỤC SẢN PHẨM</h2>
<div class="container">
    <table class="table">
        <tr class="">
            <th>
                Tên danh mục
            </th>
            
            <th></th>
        </tr>
        @foreach (var cate in Model)
        {
            <tr>
                <td style="font-size:20px;" class=" col-md-9 col-lg-9">
                    @Html.DisplayName(cate.NameCate)
                </td>
                
                <td class=" col-md-4 col-lg-4 ">
                    <div class="row">
                        <div class="col-lg-3 boxbtn">@Html.ActionLink("Sửa", "Sua", new { id = cate.IDCate }, new { @class = "btn btn-warning nut" })</div>
                        <div class="col-lg-3 boxbtn ">@Html.ActionLink("Xóa", "Xoa", new { id = cate.IDCate }, new { @class = "btn btn-danger nut" })</div>
                        <div class="col-lg-3 boxbtn">@Html.ActionLink("Chi tiết", "Detail", new { id = cate.IDCate }, new { @class = "btn btn-dark nut" })</div>
                    </div>

                </td>
            </tr>
        }
    </table>
</div>
@Html.ActionLink("Thêm mới", "Them", null, new { @class = "btn btn-success" })


