@model IEnumerable<WebBanQuanAo_Main_.Models.OrderPro>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="alert alert-warning text-center text-uppercase" >Danh sách đơn hàng</h2>

<table class="table table-responsive">
    <tr class="row-cols-7">
        <th>
            Ngày đặt
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Phương thức thanh toán
        </th>
        <th>
            Trạng thái thanh toán
        </th>
        <th>
            Phương thức vận chuyển
        </th>
        <th>
            Địa chỉ giao hàng
        </th>
        <th>
            Tên khách hàng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateOrder)
        </td>
        <td>
            @string.Format("{0:N0} đ", item.TotalAmount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentStatus)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DeliveryMethod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShippingAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.NameCus)
        </td>
        <td>
           
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new {@class="btn btn-primary"})
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
