@model IEnumerable<WebBanQuanAo_Main_.Models.AdminUser>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="alert" style="color:orangered;background-color:moccasin">QUẢN LÍ TÀI KHOẢN</h2>

<p>
    @Html.ActionLink("Tạo tài khoản", "Create", null, new {@class="btn btn-success"})
</p>
<table class="table table-responsive">
    <tr>
        <th>
            Tên người dùng
        </th>
        <th>
            Vai trò người dùng
        </th>
        <th>
            Mật khẩu người dùng
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoleUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PasswordUser)
        </td>
        <td>
            @Html.ActionLink("Sửa", "Edit", new { id=item.ID }, new { @class = "btn btn-warning" }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
