@model IEnumerable<WebBanQuanAo_Main_.Models.Color>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<h2 class="alert alert-warning" >QUẢN LÍ MÀU SẮC</h2>

<p>
    @Html.ActionLink("Tạo Màu", "Create", null, new { @class = "btn btn-success" })
</p>
<table class="table table-responsive">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ColorName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ColorName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IDColor }, new { @class = "btn btn-warning" }) |
            
            @Html.ActionLink("Delete", "Delete", new { id=item.IDColor }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
