@model WebBanQuanAo_Main_.Models.AdminUser

@{
    ViewBag.Title = "Sua";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<link href="~/Content/Admin/CDED.css" rel="stylesheet" />
<div class="admin-container">
    <div class="admin-title text-center alert alert-info">Cập nhật tài khoản</div>
    @using (Html.BeginForm("Sua", "Account", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        <div class="admin-form">
            <div class="mb-3 mt-3">
                <h4>Tên người dùng</h4>
                @Html.EditorFor(m => m.NameUser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="mb-3 mt-3">
                <h4>Vai trò</h4>
                @Html.EditorFor(m => m.RoleUser, new { htmlAttributes = new { @class = "form-control" } })
            </div>
            <div class="mb-3 mt-3">
                <h4>Mật khẩu</h4>
                @Html.PasswordFor(m => m.PasswordUser, new { htmlAttributes = new { @class = "form-control" } })
             </div>
            <div>
                <input type="submit" value="Cập nhật" class="btn btn-primary " />
                @Html.ActionLink("Quay về danh sách", "Index", null, new { @class = "btn btn-success " })
            </div>
            
        </div>
    }
</div>
